<label>X</label>
<input id="X" type="range" value="0" />

<label>Y</label>
<input id="Y" type="range" value="0" />

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/bolaControle.js"></script>